/*Give the background the PA BG color.*/
body {
background-color:#212121;
color:#E0E0E0;
font-family:Inconsolata;
}
p {
margin-left:30px;
}

.mpInfo{
font-size:20px;
display:none;
padding-left:15px;
}
/*mainpage info*/

/*line boreders*/
.PABorder{
border-top: 3px dashed #ffffff;
color: rgba(0,0,0,0)
}

/*headings*/
h3{
    font-weight:normal;
}
#EditorStuff{
    display:none;
}
/*INPUT*/
/*Make any buttons look like PA ingame buttons.*/
/*First up, stuff to apply to all buttons*/
button{
padding-top:5px;
padding-bottom:5px;
padding-right:20%;
border: none;
font-size:20px;
text-transform:uppercase;
}
/*Now make it change color.*/
button {
    background-color:#3b3b3b;
    color:white;
}
button:hover{
        background:#ffffff;
        color:black;
}
/*Make color input look square.*/
.ThemeColor{
    width:25px;
    height:25px;
    border:none;
    right:5px;
}

#storage {
    display:none;
}

/* okay, lets make the title actually look good */
#maintitle {
    font-size:50px;
    text-align:center;
    font-weight:bold;
}
.smalltext {
    font-size:30px;
}

#filetypeMenu
{
    text-align:center;
}
.flex
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/    

}

.fileMenuItem
{
    width:75%;
    text-align:center;
    background-color: #7520208a;
    margin:10px;
}

.wideButton
{
    width:75%;
    text-align: center;
    padding:10px;
}

#themeupload
{
    display:none;
}